In [1]:
!conda install pandas -q -y

Channels:
 - conda-forge
 - bioconda
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: /opt/conda/envs/jupyter

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libblas-3.9.0              |20_linux64_openblas          14 KB  conda-forge
    libcblas-3.9.0             |20_linux64_openblas          14 KB  conda-forge
    libgfortran-ng-13.2.0      |       h69a702a_3          23 KB  conda-forge
    libgfortran5-13.2.0        |       ha4646dd_3         1.4 MB  conda-forge
    liblapack-3.9.0            |20_linux64_openblas          14 KB  conda-forge
    libopenblas-0.3.25         |pthreads_h413a1c8_0         5.3 MB  conda-forge
    numpy-1.26.3               |  py312heda63a1_0         7.1 MB  conda-forge
    pandas-2.1.4               |  py312hfb8ada1_0        14.0 MB  conda-forge
    python-tzdata-2023.4       |     pyhd8ed1ab_0         143 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        28.0 MB

The following NEW packages will be INSTALLED:

  libblas            conda-forge/linux-64::libblas-3.9.0-20_linux64_openblas
  libcblas           conda-forge/linux-64::libcblas-3.9.0-20_linux64_openblas
  libgfortran-ng     conda-forge/linux-64::libgfortran-ng-13.2.0-h69a702a_3
  libgfortran5       conda-forge/linux-64::libgfortran5-13.2.0-ha4646dd_3
  liblapack          conda-forge/linux-64::liblapack-3.9.0-20_linux64_openblas
  libopenblas        conda-forge/linux-64::libopenblas-0.3.25-pthreads_h413a1c8_0
  numpy              conda-forge/linux-64::numpy-1.26.3-py312heda63a1_0
  pandas             conda-forge/linux-64::pandas-2.1.4-py312hfb8ada1_0
  python-tzdata      conda-forge/noarch::python-tzdata-2023.4-pyhd8ed1ab_0


Preparing transaction: ...working... done
Verifying transaction: ...working... WARNING conda.core.path_actions:verify(1055): Unable to create environments file. Path not writable.
  environment location: /home/gitpod/.conda/environments.txt

done
Executing transaction: ...working... WARNING conda.core.envs_manager:register_env(55): Unable to register environment. Path not writable or missing.
  environment location: /opt/conda/envs/jupyter
  registry file: /home/gitpod/.conda/environments.txt
done

In [2]:
import pandas as pd
test = pd.read_csv("https://github.com/shanicohen33/minMLST/raw/master/data/Legionella_pneumophila_cgMLST_sample.csv")
test

,lpg0004,lpg0006,lpg0007,lpg0008,lpg0009,lpg0010,lpg0011,lpg0012,lpg0014,lpg0015,...,lpg2994,lpg2995,lpg2997,lpg2998,lpg2999,lpg3001,lpg3002,lpg3003,lpg3005,ST
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,2,2,2,2,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,365
807,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,365
808,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,365
809,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,365
810,2,2,2,2,1,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,366